In [1]:
import pandas as pd
import numpy as np

In [2]:
list = ['Male']*700
flist = ['Female']*300
len(list)
data = list + flist
np.random.shuffle(data)
len(data)

1000

In [5]:
df= pd.DataFrame({'gender' : data, 'bla' : np.arange(1000).tolist()})

In [6]:
df.head()

   gender  bla
0    Male    0
1    Male    1
2  Female    2
3    Male    3
4    Male    4

In [9]:
df.gender.describe()

count     1000
unique       2
top       Male
freq       700
Name: gender, dtype: object

In [10]:
# for clean data use this
mask = df.gender == 'Male'
# if this does not work, use contains
mask = df.gender.str.contains('Male')
mask.head()

0     True
1     True
2    False
3     True
4     True
Name: gender, dtype: bool

In [11]:
df.gender[mask] = 1
df.gender[~mask] = 0
df.head(5)

/home/katia/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/home/katia/.local/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  gender  bla
0      1    0
1      1    1
2      0    2
3      1    3
4      1    4

In [12]:
df.shape

(1000, 2)