In [36]:
import pandas as pd
import numpy as np

In [49]:
list = ['Male']*700
flist = ['Female']*300
len(list)
data = list + flist
np.random.shuffle(data)
len(data)

1000

In [50]:
df= pd.DataFrame({'gender' : data, 'bla' : np.arange(1000).tolist()})
df.head()
df.gender.describe()

count     1000
unique       2
top       Male
freq       700
Name: gender, dtype: object

In [51]:
# for clean data use this
mask = df.gender == 'Male'
# if this does not work, use contains
mask = df.gender.str.contains('Male')
mask.head()

0     True
1     True
2    False
3     True
4    False
Name: gender, dtype: bool

In [40]:
df.gender[mask] = 1
df.gender[~mask] = 0
df.head(20)

C:\Users\estam_000\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
C:\Users\estam_000\Anaconda2\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

    bla gender
0     0      1
1     1      1
2     2      1
3     3      1
4     4      0
5     5      1
6     6      0
7     7      0
8     8      1
9     9      1
10   10      1
11   11      1
12   12      0
13   13      1
14   14      1
15   15      1
16   16      1
17   17      1
18   18      1
19   19      1

In [33]:
df.shape

(1000, 2)

OR

In [53]:
df.gender = df.gender.map({'Male': 0, 'Female': 1})

In [54]:
df.head()

   bla  gender
0    0       0
1    1       0
2    2       1
3    3       0
4    4       1