## Introduction to Pandas

In [3]:
import pandas as pd
import numpy as np

### Time Series

DataFrame - a 2D array

In [4]:
# generate consecutive dates starting from Aug 2 2016
dates = pd.date_range('20160801', periods=6)
dates

DatetimeIndex(['2016-08-01', '2016-08-02', '2016-08-03', '2016-08-04',
               '2016-08-05', '2016-08-06'],
              dtype='datetime64[ns]', freq='D')

In [5]:
# hourly frequence of date and hour
hours = pd.date_range('2/8/2016', periods=10, freq='H')
hours

DatetimeIndex(['2016-02-08 00:00:00', '2016-02-08 01:00:00',
               '2016-02-08 02:00:00', '2016-02-08 03:00:00',
               '2016-02-08 04:00:00', '2016-02-08 05:00:00',
               '2016-02-08 06:00:00', '2016-02-08 07:00:00',
               '2016-02-08 08:00:00', '2016-02-08 09:00:00'],
              dtype='datetime64[ns]', freq='H')

In [6]:
#slicing - 1st 5 entries
hours[:5]

DatetimeIndex(['2016-02-08 00:00:00', '2016-02-08 01:00:00',
               '2016-02-08 02:00:00', '2016-02-08 03:00:00',
               '2016-02-08 04:00:00'],
              dtype='datetime64[ns]', freq='H')

In [7]:
# slicing - 2nd 5 entries
hours[5:]

DatetimeIndex(['2016-02-08 05:00:00', '2016-02-08 06:00:00',
               '2016-02-08 07:00:00', '2016-02-08 08:00:00',
               '2016-02-08 09:00:00'],
              dtype='datetime64[ns]', freq='H')

In [8]:
# pd.Series(data, index=index)
ts = pd.Series(np.random.randn(len(hours)), index=hours)
ts

2016-02-08 00:00:00    2.305262
2016-02-08 01:00:00    2.539367
2016-02-08 02:00:00    0.521164
2016-02-08 03:00:00    0.297711
2016-02-08 04:00:00   -0.090626
2016-02-08 05:00:00    0.295320
2016-02-08 06:00:00    1.074714
2016-02-08 07:00:00   -0.609110
2016-02-08 08:00:00    1.067619
2016-02-08 09:00:00   -1.620839
Freq: H, dtype: float64

In [9]:
ts.shape

(10L,)

In [10]:
# change to 45 minute frequency and forward fill
# method='pad' -> propagate the last valid observation forward
converted = ts.asfreq('45Min', method='pad')
converted

2016-02-08 00:00:00    2.305262
2016-02-08 00:45:00    2.305262
2016-02-08 01:30:00    2.539367
2016-02-08 02:15:00    0.521164
2016-02-08 03:00:00    0.297711
2016-02-08 03:45:00    0.297711
2016-02-08 04:30:00   -0.090626
2016-02-08 05:15:00    0.295320
2016-02-08 06:00:00    1.074714
2016-02-08 06:45:00    1.074714
2016-02-08 07:30:00   -0.609110
2016-02-08 08:15:00    1.067619
2016-02-08 09:00:00   -1.620839
Freq: 45T, dtype: float64

In [11]:
converted.shape

(13L,)

In [13]:
# change to 45 minute frequency and forward fill
# method='bfill' -> propagate the last valid observation backward
converted1 = ts.asfreq('50Min', method='bfill')
converted1

2016-02-08 00:00:00    2.305262
2016-02-08 00:50:00    2.539367
2016-02-08 01:40:00    0.521164
2016-02-08 02:30:00    0.297711
2016-02-08 03:20:00   -0.090626
2016-02-08 04:10:00    0.295320
2016-02-08 05:00:00    0.295320
2016-02-08 05:50:00    1.074714
2016-02-08 06:40:00   -0.609110
2016-02-08 07:30:00    1.067619
2016-02-08 08:20:00   -1.620839
Freq: 50T, dtype: float64

In [14]:
converted1.shape

(11L,)

In [15]:
ts.head()

2016-02-08 00:00:00    2.305262
2016-02-08 01:00:00    2.539367
2016-02-08 02:00:00    0.521164
2016-02-08 03:00:00    0.297711
2016-02-08 04:00:00   -0.090626
Freq: H, dtype: float64

In [16]:
# daily means
ts.resample('D').mean()

0.5780581324189675

In [17]:
# daily means
ts.resample('M').mean()

0.5780581324189675

In [22]:
index = pd.date_range('1/1/2000', periods=9, freq='T')
series = pd.Series(range(9), index=index)
series

2000-01-01 00:00:00    0
2000-01-01 00:01:00    1
2000-01-01 00:02:00    2
2000-01-01 00:03:00    3
2000-01-01 00:04:00    4
2000-01-01 00:05:00    5
2000-01-01 00:06:00    6
2000-01-01 00:07:00    7
2000-01-01 00:08:00    8
Freq: T, dtype: int64

In [21]:
series.resample('3T')

2000-01-01 00:00:00    1
2000-01-01 00:03:00    4
2000-01-01 00:06:00    7
Freq: 3T, dtype: int64

In [23]:
# daily means
ts.resample('M')

2016-02-29    0.578058
Freq: M, dtype: float64

In [24]:
ts

2016-02-08 00:00:00    2.305262
2016-02-08 01:00:00    2.539367
2016-02-08 02:00:00    0.521164
2016-02-08 03:00:00    0.297711
2016-02-08 04:00:00   -0.090626
2016-02-08 05:00:00    0.295320
2016-02-08 06:00:00    1.074714
2016-02-08 07:00:00   -0.609110
2016-02-08 08:00:00    1.067619
2016-02-08 09:00:00   -1.620839
Freq: H, dtype: float64

In [30]:
# daily means
ts.resample('T').bfill()[0:5]

2016-02-08 00:00:00    2.305262
2016-02-08 00:01:00    2.539367
2016-02-08 00:02:00    2.539367
2016-02-08 00:03:00    2.539367
2016-02-08 00:04:00    2.539367
Freq: T, dtype: float64

In [31]:
type(ts)

pandas.core.series.Series

### Time Stamps v.s. Time Spans

In [29]:
from datetime import datetime
# time stamp
pd.Timestamp(datetime(2016, 8, 2))

Timestamp('2016-08-02 00:00:00')

In [30]:
# or
pd.Timestamp('2012-08-02')

Timestamp('2012-08-02 00:00:00')

In [31]:
# time span - a period of time
pd.Period('2016-08')

Period('2016-08', 'M')

In [32]:
pd.Period('2016-08', freq='D')

Period('2016-08-01', 'D')

In [34]:
# an array of time stamps
dates = [pd.Timestamp('2016-08-02'), pd.Timestamp('2016-08-03'), pd.Timestamp('2016-08-04')]
dates

[Timestamp('2016-08-02 00:00:00'),
 Timestamp('2016-08-03 00:00:00'),
 Timestamp('2016-08-04 00:00:00')]

In [38]:
# time series are index
ts = pd.Series(np.random.randn(3), dates)
ts

2016-08-02   -0.015813
2016-08-03    0.335540
2016-08-04   -1.089402
dtype: float64

In [39]:
type(ts.index)

pandas.tseries.index.DatetimeIndex

In [40]:
periods = [pd.Period('2016-08'), pd.Period('2016-09'), pd.Period('2016-10')]
periods

[Period('2016-08', 'M'), Period('2016-09', 'M'), Period('2016-10', 'M')]

In [41]:
ts = pd.Series(np.random.randn(3), periods)
ts

2016-08   -0.260357
2016-09   -0.586992
2016-10    0.849309
Freq: M, dtype: float64

In [42]:
type(ts.index)

pandas.tseries.period.PeriodIndex

Converting to TimeStamps

In [48]:
# convert Series to datetime
ts = pd.to_datetime(pd.Series(['Jul 31, 2016', '2010-08-01', None]))
ts

0   2016-07-31
1   2010-08-01
2          NaT
dtype: datetime64[ns]

In [44]:
type(ts.index)

pandas.tseries.period.PeriodIndex

In [46]:
pd.to_datetime(['2005/11/23', '2010.12.31'])

DatetimeIndex(['2005-11-23', '2010-12-31'], dtype='datetime64[ns]', freq=None)

In [52]:
# European Style Dates - use dayfirst() - returns DatetimeIndex
pd.to_datetime(['02-08-2016 10:00'], dayfirst=True)

DatetimeIndex(['2016-08-02 10:00:00'], dtype='datetime64[ns]', freq=None)

In [50]:
pd.to_datetime(['02-08-2016', '03-08-2016'], dayfirst=True)

DatetimeIndex(['2012-01-14', '2012-01-14'], dtype='datetime64[ns]', freq=None)

In [51]:
# passing a single string to to_datetime returns a single TimeStamp
pd.to_datetime('2016/08/02')

Timestamp('2016-08-02 00:00:00')

Invalid Data

In [63]:
pd.to_datetime(['2009/07/31', 'asd'], errors='raise')

ValueError: Unknown string format

In [64]:
pd.to_datetime(['2009/07/31', 'asd'], errors='ignore')

array(['2009/07/31', 'asd'], dtype=object)

In [68]:
# transforms all unknown string to NaT (Not a Time)
pd.to_datetime(['2009/07/31', 'asd'], errors='coerce')

DatetimeIndex(['2009-07-31', 'NaT'], dtype='datetime64[ns]', freq=None)

In [70]:
# unit in epoch
pd.to_datetime([1349720105, 1349806505, 1349892905,1349979305, 1350065705], unit='s')

DatetimeIndex(['2012-10-08 18:15:05', '2012-10-09 18:15:05',
               '2012-10-10 18:15:05', '2012-10-11 18:15:05',
               '2012-10-12 18:15:05'],
              dtype='datetime64[ns]', freq=None)

In [71]:
pd.to_datetime([1349720105100, 1349720105200, 1349720105300,1349720105400, 1349720105500 ], unit='ms')

DatetimeIndex(['2012-10-08 18:15:05.100000', '2012-10-08 18:15:05.200000',
               '2012-10-08 18:15:05.300000', '2012-10-08 18:15:05.400000',
               '2012-10-08 18:15:05.500000'],
              dtype='datetime64[ns]', freq=None)

In [72]:
# This works but give unexpected results
pd.to_datetime([1, 3.14], unit='s')

DatetimeIndex(['1970-01-01 00:00:01', '1970-01-01 00:00:03.140000'], dtype='datetime64[ns]', freq=None)

Range of Time Stamps

In [79]:
index = pd.date_range('2000-1-1', periods=10, freq='M')

In [80]:
index

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-30',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-30', '2000-10-31'],
              dtype='datetime64[ns]', freq='M')

In [82]:
index = pd.bdate_range('2012-1-1', periods=250)
index

DatetimeIndex(['2012-01-02', '2012-01-03', '2012-01-04', '2012-01-05',
               '2012-01-06', '2012-01-09', '2012-01-10', '2012-01-11',
               '2012-01-12', '2012-01-13',
               ...
               '2012-12-03', '2012-12-04', '2012-12-05', '2012-12-06',
               '2012-12-07', '2012-12-10', '2012-12-11', '2012-12-12',
               '2012-12-13', '2012-12-14'],
              dtype='datetime64[ns]', length=250, freq='B')

In [84]:
start = datetime(2016, 1, 1)
end = datetime(2016, 8, 2)
range = pd.date_range(start, end, freq="M")
range

DatetimeIndex(['2016-01-31', '2016-02-29', '2016-03-31', '2016-04-30',
               '2016-05-31', '2016-06-30', '2016-07-31'],
              dtype='datetime64[ns]', freq='M')

In [85]:
pd.date_range(start, end, freq="W")

DatetimeIndex(['2016-01-03', '2016-01-10', '2016-01-17', '2016-01-24',
               '2016-01-31', '2016-02-07', '2016-02-14', '2016-02-21',
               '2016-02-28', '2016-03-06', '2016-03-13', '2016-03-20',
               '2016-03-27', '2016-04-03', '2016-04-10', '2016-04-17',
               '2016-04-24', '2016-05-01', '2016-05-08', '2016-05-15',
               '2016-05-22', '2016-05-29', '2016-06-05', '2016-06-12',
               '2016-06-19', '2016-06-26', '2016-07-03', '2016-07-10',
               '2016-07-17', '2016-07-24', '2016-07-31'],
              dtype='datetime64[ns]', freq='W-SUN')

Limitations

In [86]:
pd.Timestamp.min

Timestamp('1677-09-22 00:12:43.145225')

In [87]:
pd.Timestamp.max

Timestamp('2262-04-11 23:47:16.854775807')